/.DS_Store
/test.dSYM
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.19.4/CMakeCCompiler.cmake
CMakeFiles/3.19.4/CMakeCXXCompiler.cmake
CMakeFiles/3.19.4/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.19.4/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.19.4/CMakeSystem.cmake
CMakeFiles/3.19.4/CompilerIdC/a.out
CMakeFiles/3.19.4/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.19.4/CompilerIdCXX/a.out
CMakeFiles/3.19.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/httplib.dir/build.make
CMakeFiles/httplib.dir/cmake_clean_target.cmake
CMakeFiles/httplib.dir/cmake_clean.cmake
CMakeFiles/httplib.dir/CXX.includecache
CMakeFiles/httplib.dir/depend.internal
CMakeFiles/httplib.dir/depend.make
CMakeFiles/httplib.dir/DependInfo.cmake
CMakeFiles/httplib.dir/flags.make
CMakeFiles/httplib.dir/link.txt
CMakeFiles/httplib.dir/progress.make
CMakeFiles/httplib.dir/stream/SSLSocketStream.cpp.o
CMakeFiles/httplib.dir/stream/Stream.cpp.o
_test/CMakeFiles/cmake.check_cache
_test/CMakeFiles/CMakeDirectoryInformation.cmake
_test/CMakeFiles/CMakeOutput.log
_test/CMakeFiles/Makefile.cmake
_test/CMakeFiles/Makefile2
_test/CMakeFiles/progress.marks
_test/CMakeFiles/TargetDirectories.txt
_test/CMakeFiles/3.19.4/CMakeCCompiler.cmake
_test/CMakeFiles/3.19.4/CMakeCXXCompiler.cmake
_test/CMakeFiles/3.19.4/CMakeDetermineCompilerABI_C.bin
_test/CMakeFiles/3.19.4/CMakeDetermineCompilerABI_CXX.bin
_test/CMakeFiles/3.19.4/CMakeSystem.cmake
_test/CMakeFiles/3.19.4/CompilerIdC/a.out
_test/CMakeFiles/3.19.4/CompilerIdC/CMakeCCompilerId.c
_test/CMakeFiles/3.19.4/CompilerIdCXX/a.out
_test/CMakeFiles/3.19.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
_test/CMakeFiles/hellodemo.dir/build.make
_test/CMakeFiles/hellodemo.dir/cmake_clean.cmake
_test/CMakeFiles/hellodemo.dir/CXX.includecache
_test/CMakeFiles/hellodemo.dir/depend.internal
_test/CMakeFiles/hellodemo.dir/depend.make
_test/CMakeFiles/hellodemo.dir/DependInfo.cmake
_test/CMakeFiles/hellodemo.dir/flags.make
_test/CMakeFiles/hellodemo.dir/link.txt
_test/CMakeFiles/hellodemo.dir/progress.make
_test/CMakeFiles/hellodemo.dir/test.cpp.o
_test/CMakeFiles/httplibtest.dir/build.make
_test/CMakeFiles/httplibtest.dir/cmake_clean.cmake
_test/CMakeFiles/httplibtest.dir/CXX.includecache
_test/CMakeFiles/httplibtest.dir/depend.internal
_test/CMakeFiles/httplibtest.dir/depend.make
_test/CMakeFiles/httplibtest.dir/DependInfo.cmake
_test/CMakeFiles/httplibtest.dir/flags.make
_test/CMakeFiles/httplibtest.dir/link.txt
_test/CMakeFiles/httplibtest.dir/progress.make
_test/CMakeFiles/httplibtest.dir/test.cpp.o
_test/CMakeFiles/Progress/1
_test/CMakeFiles/Progress/2
_test/CMakeFiles/Progress/count.txt
CMakeFiles/3.19.5/CompilerIdCXX/CMakeCXXCompilerId.o
CMakeFiles/3.19.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.19.5/CompilerIdC/CMakeCCompilerId.o
CMakeFiles/3.19.5/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.19.5/CMakeSystem.cmake
CMakeFiles/3.19.5/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.19.5/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.19.5/CMakeCXXCompiler.cmake
CMakeFiles/3.19.5/CMakeCCompiler.cmake
CMakeFiles/CMakeError.log
_test/CMakeFiles/3.19.5/CompilerIdCXX/CMakeCXXCompilerId.o
_test/CMakeFiles/3.19.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
_test/CMakeFiles/3.19.5/CompilerIdC/CMakeCCompilerId.o
_test/CMakeFiles/3.19.5/CompilerIdC/CMakeCCompilerId.c
_test/CMakeFiles/3.19.5/CMakeSystem.cmake
_test/CMakeFiles/3.19.5/CMakeDetermineCompilerABI_CXX.bin
_test/CMakeFiles/3.19.5/CMakeDetermineCompilerABI_C.bin
_test/CMakeFiles/3.19.5/CMakeCXXCompiler.cmake
_test/CMakeFiles/3.19.5/CMakeCCompiler.cmake
_test/CMakeFiles/CMakeError.log
_test/httplibtest
libhttplib.a
CMakeFiles/httplib.dir/ssl/SslContext.cpp.o
build/.cmake/api/v1/reply/cache-v2-702e2e362eddb6fe1009.json
build/.cmake/api/v1/reply/codemodel-v2-b5c70d8d71dc26ff82ef.json
build/.cmake/api/v1/reply/index-2021-02-25T13-29-48-0042.json
build/.cmake/api/v1/reply/target-httplib-Debug-4e125a7d7a01e9cdb145.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.19.5/CMakeCCompiler.cmake
build/CMakeFiles/3.19.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.19.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.19.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.19.5/CMakeSystem.cmake
build/CMakeFiles/3.19.5/CompilerIdC/a.out
build/CMakeFiles/3.19.5/CompilerIdCXX/a.out
build/CMakeFiles/httplib.dir/cmake_clean_target.cmake
build/CMakeFiles/httplib.dir/cmake_clean.cmake
build/CMakeFiles/httplib.dir/depend.make
build/CMakeFiles/httplib.dir/DependInfo.cmake
build/CMakeFiles/httplib.dir/flags.make
build/CMakeFiles/httplib.dir/link.txt
build/CMakeFiles/httplib.dir/progress.make
lib/libhttplib.a
build/CMakeFiles/httplib.dir/build.make
build/CMakeFiles/3.19.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.19.5/CompilerIdC/CMakeCCompilerId.c
install_manifest.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
.vscode/c_cpp_properties.json
build/.cmake/api/v1/reply/*.json
CMakeFiles/httplib.dir/socket/Socket.cpp.o
CMakeFiles/httplib.dir/httpclient/HttpsClient.cpp.o
include/*.h
include/*/*.h
